.chip {
    /* Center the content */
    align-items: center;
    display: inline-flex;
    justify-content: center;

    /* Background color */
    background-color: #d1d5db;

    /* Rounded border */
    border-radius: 50px;
}

.chip-content {
    margin-right: 0.25rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}