.box {
    display: flex;
    flex-flow: row;
    flex: 2;
  }

.containerBox {
    display: flex;
    margin: auto;
    flex: 1 1 0px;
    flex-flow: row;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

  .buttonContainer {
    margin-left: 5px;
    display: flex;
  }

 