.box {
    display: flex;
    flex-flow: row;
    flex: 2;
  }

.containerBox {
    display: flex;
    margin: auto;
    flex-flow: column;
}

  .buttonContainer {
    margin-left: 5px;
    display: flex;
  }